# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#



#===================================================
# HTML / Document Object Model Snippets

'.html':
  'Meteor Template':
    'prefix': 'template'
    'body': '<template name="${1}">\n\t${2}\n</template>',
  'Meteor each':
    'prefix': '#each'
    'body': '
      {{#each ${1:collections}}}\n\t${2}\n{{/each}}
    ',
  'Meteor if':
    'prefix': '#if'
    'body': '
      {{#if ${1:statement}}}\n\t${2}\n{{/if}}
    ',
  'Meteor if else':
    'prefix': '#ife'
    'body': '{{#if ${1:statement}}}\n\t${2}\n{{else}}\n\t${3}\n{{/if}}
    '

#===================================================
# Controller Snippets


'.js':
  'console.log':
    'prefix': 'log'
    'body': 'console.log(${1:"crash"});\n$2'


'.js':
  'if, else if, else':
    'prefix': 'ieie'
    'body': '
      if (${1:true}) {
        $2
      } else if (${3:false}) {
        $4
      } else {
        $5
      }
    '


'.js':
  'Meteor Publish':
    'prefix': 'publish'
    'body': 'Meteor.publish("${1:name}", function(${2:argument}){\n\t${3}\n});',

  'Meteor Subscribe':
    'prefix': 'subscribe'
    'body': 'Meteor.subscribe("${1:name}", ${2:argument});',

  'Template Rendered':
    'prefix': 'rendered'
    'body': 'Template.${1:name}.rendered = function(){\n\t${2}\n}',

  'Template Helpers':
    'prefix': 'helpers'
    'body': '
      Template.${1:name}.helpers({
      \n\trendered: function(){
      \n\t\t${2}
      \n\t}
      \n});
    ',
  'Template Events':
    'prefix': 'events'
    'body': '
      Template.${1:name}.events({
      \n\t"${2:event}": function(event, template){
      \n\t\t${3}
      \n\t}
      \n});
    ',
  'Template Created':
    'prefix': 'created'
    'body': '
      Template.${1:name}.created = function(){
      \n\t${2}
      \n};
    ',
  'Template':
    'prefix': 'Template'
    'body': '
      Router.map(function(){
      \n\tthis.route("${1:routeName}", {
      \n\t\tpath: "/${2:route}",
      \n\t\ttemplate: "${3:name}",
      \n\t\tonBeforeAction: function () {
      \n\t\t\tsetPageTitle("${4:Page Title}");
      \n\t\t}
      \n\t});
      \n});
      \n
      \nTemplate.${5:name}.helpers({
      \n\trendered: function(){
      \n\t\t${6}
      \n\t}
      \n});
      \n\nTemplate.${7:name}.events({
      \n\t"${8:click #foo}": function(event, template){
      \n\t\t${9}
      \n\t}
      \n});
    '



#===================================================
# Stylesheet / View Snippets



'.less':
  'Responsive Stylesheets':
    "prefix": "mobile"
    "body": 'media'
